a:link {color:#ffffff;}
a:visited {color:#ffffff;}
a:hover {color:#ffffff;}
a:active {color:#ffffff;}
.Wp-Artistic-Body-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
a.Wp-Artistic-Body-P-H:link {color:#37a6d6;}
a.Wp-Artistic-Body-P-H:visited {color:#005c8b;}
a.Wp-Artistic-Body-P-H:hover {color:#005c8b;}
a.Wp-Artistic-Body-P-H:active {color:#005c8b;}
.Wp-Body-P
{
    margin:0.0px 0.0px 12.0px 0.0px; text-align:left; font-weight:400;
}
a.Wp-Body-P-H:link {color:#37a6d6;}
a.Wp-Body-P-H:visited {color:#005c8b;}
a.Wp-Body-P-H:hover {color:#005c8b;}
a.Wp-Body-P-H:active {color:#005c8b;}
.Wp-Body-2-P
{
    margin:0.0px 0.0px 12.0px 0.0px; text-align:left; font-weight:400;
}
a.Wp-Body-2-P-H:link {color:#37a6d6;}
a.Wp-Body-2-P-H:visited {color:#005c8b;}
a.Wp-Body-2-P-H:hover {color:#005c8b;}
a.Wp-Body-2-P-H:active {color:#005c8b;}
.Wp-Bullet-List-P
{
    margin:0.0px 0.0px 12.0px 15.0px; text-align:left; font-weight:400; text-indent:-15.0px;
}
a.Wp-Bullet-List-P-H:link {color:#37a6d6;}
a.Wp-Bullet-List-P-H:visited {color:#005c8b;}
a.Wp-Bullet-List-P-H:hover {color:#005c8b;}
a.Wp-Bullet-List-P-H:active {color:#005c8b;}
.Wp-Heading-P
{
    margin:0.0px 0.0px 12.0px 0.0px; text-align:left; font-weight:400;
}
a.Wp-Heading-P-H:link {color:#37a6d6;}
a.Wp-Heading-P-H:visited {color:#005c8b;}
a.Wp-Heading-P-H:hover {color:#005c8b;}
a.Wp-Heading-P-H:active {color:#005c8b;}
.Wp-Heading-1-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
a.Wp-Heading-1-P-H:link {color:#37a6d6;}
a.Wp-Heading-1-P-H:visited {color:#005c8b;}
a.Wp-Heading-1-P-H:hover {color:#005c8b;}
a.Wp-Heading-1-P-H:active {color:#005c8b;}
.Wp-Heading-2-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
a.Wp-Heading-2-P-H:link {color:#37a6d6;}
a.Wp-Heading-2-P-H:visited {color:#005c8b;}
a.Wp-Heading-2-P-H:hover {color:#005c8b;}
a.Wp-Heading-2-P-H:active {color:#005c8b;}
.Wp-Hyperlink-1-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
a.Wp-Hyperlink-1-P-H:link {color:#000000;}
a.Wp-Hyperlink-1-P-H:visited {color:#000000;}
a.Wp-Hyperlink-1-P-H:hover {color:#548438;}
a.Wp-Hyperlink-1-P-H:active {color:#548438;}
.Wp-Logo-1-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:right; font-weight:400;
}
.Wp-Normal-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Normal-_Web_-P
{
    margin:7.0px 0.0px 7.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Quote-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:right; font-weight:400;
}
.Wp-User-Details-P
{
    margin:0.0px 0.0px 12.0px 0.0px; text-align:left; font-weight:400;
}
a.Wp-User-Details-P-H:link {color:#37a6d6;}
a.Wp-User-Details-P-H:visited {color:#005c8b;}
a.Wp-User-Details-P-H:hover {color:#005c8b;}
a.Wp-User-Details-P-H:active {color:#005c8b;}
.Wp-Default-Paragraph-Font-C
{
    font-family:"Verdana", sans-serif;
}
.Wp-Emphasis-C
{
    font-family:"Verdana", sans-serif; font-style:italic;
}
.Wp-Placeholder-C
{
    font-family:"Verdana", sans-serif;
}
.Wp-Strong-C
{
    font-family:"Verdana", sans-serif; font-weight:700;
}
.Wp-Strong-Emphasis-C
{
    font-family:"Verdana", sans-serif; font-style:italic; font-weight:700;
}
.Wp-text_exposed_show-C
{
    font-family:"Verdana", sans-serif;
}